@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

.header_area  {
  z-index: 1030;
}

.navbar-brand.logo_h {
  font-family: 'Barlow Condensed', sans-serif;
  color: #8fd23c;
  font-size: 1.6em;
}

.banner_area .container .donate-btns {
  margin-top: 40px;
}

.banner_area .container .donate-btns .donate-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.banner_area .container .donate-btns .donate-btn {
  padding: 20px;
  color: white;
  border: 2px solid rgb(255, 204, 0);
  border-radius: 3px;
}

.banner_area .container .donate-btns .donate-btn h3 {
  color: white;
  text-align: center;
  width: 100%;
}

.elevated-life-solution.banner_inner .overlay {
  background-image: url("../img/banner/Elevated Life Solutions 2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-cybersmarties.banner_inner .overlay {
  background-image: url("../img/about/cybersmarties-banner-1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.global-parties .banner_inner .overlay {
  background-image: url("../img/banner/global-parties.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video-page .banner_inner .overlay {
  background-image: url("../img/banner/videos-page.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-cybersmarties .banner_content h1 {
  color: rgba(255, 255, 255, 0.9);
}

.elevated-life-sol {
  padding: 130px 0;
  background-color: white;
}

.good-choices {
  background-color: white;
}

.ways-we-help.elevated-life-sol {
  background-color: #f9fafc;
}

.image-collage .image-container {
  position: relative;
}

.image-collage .image-container .overlay-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 100%;
  transition: .5s ease;
  color: white;
  padding: 100px 0px;
  height: 50%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.cta-area.partners {
  background-color: rgb(245, 245, 245);
}

.cta-area.partners h1 {
  color: black;
}

@media only screen and (min-width: 768px) {
  .image-collage .image-container .overlay-text {
    font-size: 3rem;
  }
}

.home_page .single_causes {
  padding: 20px;
}

.causes_area.academy {
  padding: 0px 0px 100px;
}

.causes_area.academy .single_causes {
  min-height: 500px;
}

.causes_area.home_page .single_causes {
  min-height: 450px;
}

.single_causes {
  color: black;
  /* font-family: 'Oswald', sans-serif; */
  font-size: 18px;
}

.single_causes p {
  text-align: left;
}

.features_causes .card-title {
  text-align: center
}

.home_page.features_causes .card-text {
  text-align: justify;
}
.causes_area.academy .cause-1 {
  background: #145DA0;
  color: white;
}

.causes_area.academy .cause-2 {
  background: #d2691e;
}

.causes_area.academy .single_causes, .causes_area.academy .single_causes h3 {
  color: white;
}

.single_causes.cause-1 {
  background: #77DD77;
}

.single_causes.cause-2 {
  background: #FF6961;
}

.single_causes.cause-3 {
  background: #DA70D6;
}

.single_causes.cause-4 {
  background: #e9c46a;
}

.single_about .about_left {
  background: white;
}

.modal-body .modal-para {
  background: #f5f5f5;
  padding: 20px;
}

.cta-area.video-1 {
  background: #14213d;
  background-size: cover;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.cta-area.video-3 {
  background: #118ab2;
}

.cta-area.video-4 {
  background: #887BB0;
}

.footer-area .footer_title {
  text-align: center;
}

.footer-area .footer-links .list {
  text-align: center;
}
